<div class="container-fluid">

    <div class="row">
        <form [formGroup]="payForm" (ngSubmit)="payLoan()" class="form-group">
            <div class="col-lg-offset-2 col-lg-2">
                <label for="emi">No of Emi</label><br>
                (Check balance at the top first)
            </div>
            <div class="col-lg-4">
                <!--account field-->
                <input type="text" id="emi" formControlName="emi" class="form-control"/>
                <div class="text-danger" *ngIf="submitted && payForm.controls.emi.errors.required">
                    Field is required..
                </div>
                <div class="text-danger" *ngIf="submitted && payForm.controls.emi.errors.min">
                    Minimum emi should be greater than 0 ..
                </div>
                <div class="text-danger" *ngIf="submitted && payForm.controls.emi.errors.max">
                    Minimum emi should be less than 12 ..
                </div>
            </div>

            <div class="col-lg-2">
                <Button class="btn btn-primary">Pay Emi</Button>
            </div>
            
        </form>
    </div>

    <!--Transactions are shown here below pay emii form-->

    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <table class="table table-striped table-border">
                <thead>
                    <tr>
                        <th>Transaction No</th>
                        <th>No of Emi</th>
                        <th>Payment Time</th>
                    </tr>
                </thead>
                <tr *ngFor="let transaction of transactions;let i of index">
                    <td>{{i}}</td>
                    <td>{{transaction.no_of_month}}</td>
                    <td>{{transaction.payment_time}}</td>
                </tr>
                <tr *ngIf="transactions.length==0">
                    <td colspan="3" class="text-danger">Sorry no transactions yet..</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>