<div class="row">
    <div class="col-lg-6 left-side">
        <h2>TakeLoan</h2><br>
        <h3>Now take loan in minutes...!</h3>
    </div>

    <!-- right side of layout (form) -->
    <div class="col-lg-6" >
        <form [formGroup]="registerForm" (ngSubmit)="registerUsers()" class="form">

            <label for="email">Email Id  </label>
            <input type="email" name="email" formControlName="email" class="form-control"/> 
            <div class="text-danger" *ngIf="submitted && registerForm.controls.email.errors">
                Email is required..
            </div>

            <label for="password">Password  </label>
            <input type="password" name="password" formControlName="password" class="form-control"> 
            <div class="text-danger" *ngIf="submitted && registerForm.controls.password.errors">
                Length must be 6-10 and don't use special character ..
            </div>

            <label for="confPassword">Confirm Password  </label>
            <input type="password" name="confPassword" formControlName="confPassword" class="form-control"> 
            <div class="text-danger" *ngIf="submitted && wrongpassword">
                Password should be same ..
            </div>

            <button type="submit" class="btn btn-success">Register</button>
            
        </form>
    </div>
</div>