<div class="row">
    <div class="col-lg-6 left-side">
        <h2>TakeLoan</h2><br>
        <h3>Now take loan in minutes...!</h3>
    </div>

    <!-- right side of layout (form) -->
    <div class="col-lg-6">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <label for="email">Email Id : </label>
            <input type="email" formControlName="email" class="form-control" /><br>
            <div class="text-danger" *ngIf="submitted && registerForm.controls.email.errors">
                Email is required..
            </div>
    
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"/><br>
            <div class="text-danger" *ngIf="submitted && registerForm.controls.password.errors">
                Password is required..
            </div>
    
            <label for="password">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"/><br>
            <div class="text-danger" *ngIf="submitted && registerForm.controls.confirmPassword.errors">
                Password is required..
            </div>
            <div class="text-danger" *ngIf="submitted && registerForm.controls.password.value!=registerForm.controls.confirmPassword.value">
                Use the same password..
            </div>
    
            <button type="submit" class="btn btn-success">Register</button>&nbsp;
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>