<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 foreclose-left">
            <h2>TakeLoan</h2><br>
            <h3>Now take loan in minutes...!</h3>
        </div>
        <div class="col-lg-6">
            <form [formGroup]="closeForm" (ngSubmit)="closeLoan()" class="form-group">

                <!--account field-->
                <label for="id">Account Id : </label>
                <input type="text" id="id" formControlName="accountId" class="form-control">
                <div class="col-lg-3 text-danger" *ngIf="submit && closeForm.controls.accountId.errors">
                    Account Id is required
                </div>

                <!-- password field-->

                <label for="id">Password : </label>
                <input type="text" id="id" formControlName="password" class="form-control">
                <div class="col-lg-3 text-danger" *ngIf="submit && closeForm.controls.password.errors">
                    Password is required..
                </div>

                <button type="submit" class="btn btn-success">Pay Emi</button>

            </form>
        </div>
    </div>
</div>