 <!-- carousel part-->

 <div class="container-fluid home-img">
    <div class="row my-carousel">
        <div class="col-md-2 col-sm-12">
            <Button class="btn btn-success loan-btn" routerLink="/home/loan">Apply Loan</Button>
        </div>
        
    </div>
</div>

<!-- flow of loan-->

<div class="container-fluid" style="margin-top: 20px;height: 150px;">
    <div class="row">
        <div class="col-md-3 col-6">
            How it works<br>
            Here is simply 3 steps to get loans
        </div>
        <div class="col-md-2 col-5">
            <img src="../../../assets/images/icon8-notepad.png" /><br><br>
            Complete Application form
        </div>
        <div class="col-md-1 col-1">
            <img src="../../../assets/images/icons8-more-than-50.png" />
        </div>
        <div class="col-md-2 col-5">
            <img src="../../../assets/images/icons8-clock-50.png" /><br><br>
            Get Intial Approval in Minutes
        </div>
        <div class="col-md-1 col-1">
            <img src="../../../assets/images/icons8-more-than-50.png" />
        </div>
        <div class="col-md-2 col-6">
            <img src="../../../assets/images/icons8-bank-building-50.png" /><br><br>
            Get Final Approval in Your Near Branch
        </div>

    </div>
</div>

<!-- Now calculate emi component-->
<app-calcemi></app-calcemi>

<!--footer-->

    <div class="container-fluid grayfooter">
        <div class="row">
            <!-- footer-info -->
            <div class=" col-md-3 col-6">
                <h3>Contact us</h3>
                <h5 class="detail">Location : 450071 Pune, India</h5>
                <h5 class="detail">Call: </h5>
                <p class="detail ">1800-123-4567</p>
                <h5 class="detail">Email: </h5>
                <p class="detail ">info@takeloan.com</p>
            </div>

            <!-- footer-useful links -->
            <div class="col-md-2 col-6">
                <h3 class="footer-title">Quick Links</h3>
                <ul>
                    <li><a routerLink="/home">Home </a></li>
                    <li><a routerLink="/home/emi">Pay emi </a></li>
                    <li><a routerLink="/home/emi">Transaction </a></li>
                    <li><a routerLink="/home/close">Foreclose </a></li>
                </ul>
            </div>


            <!-- about-us -->
            <div class="col-md-7">
                <!--make hidden -->
                <h3 class="footer-title">About TakeLoan</h3>
                <p class="detail">TakeLoan provides commercial and consumer loans, deposits, and cards to its customers. It also provides mortgage banking, trust and investment management, and brokerage services.<br><br></p>
                <p class="detail">We focus on you and your family's financial health. Our dedicated security team and 24/7 surveillance system means that we are always on guard to anticipate, address and help prevent fraud. We're constantly developing new, better ways to secure your data and create seamless digital banking experiences.</p>

            </div>
        </div>
    </div>

<!-- last-footer -->
<div class="container-fluid grayfooter">
    <div class="row justify-content-center">
        <div class="col-md-12 col-12 text-center">Copyright © All Rights Reserved. 2020, Design by
            <a href="https://www.linkedin.com/in/sachin-pant-45891714a/" target="_blank">Sachin Pant</a>
        </div>
    </div>
</div>