<div class="container-fluid calc-back">
    <div class="row">

        <div class="col-md-7">
        </div>

        <div class="col-md-4">
            <form [formGroup]="calcForm" (ngSubmit)="calcEmi()" class="form-group">

                <div class="row">
                    <div class="col-md-12">
                        <h5>Calculate your Emi</h5>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-5">
                        <label for="amount">Amount you want : </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="amount" formControlName="amount" class="form-control">
                    </div>
                    <div class="col-md-3"
                        *ngIf="submit && calcForm.controls.amount.errors && calcForm.controls.amount.errors.required"
                        class="text-danger">
                        Required
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for ="type">Type of Loan (eg- home or education)</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" id="type" formControlName="type" class="form-control">
                    </div>

                    <div class="col-lg-3"
                        *ngIf="submit && calcForm.controls.noEmi.errors && calcForm.controls.noEmi.errors.required"
                        class="text-danger">
                        Required
                    </div>

                </div>
        
                <div class="row">
                    <div class="col-md-5">
                        <label for=emi>No of Emi : </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="emi" formControlName="noEmi" class="form-control">
                    </div>
                    <div class="col-md-3"
                        *ngIf="submit && calcForm.controls.noEmi.errors && calcForm.controls.noEmi.errors.required"
                        class="text-danger">
                        Required
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success">Pay Emi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>