<div class="container-fluid calc-back">
    <div class="row">

        <div class="col-md-7">
        </div>

        <div class="col-md-4">
            <form [formGroup]="calcForm" (ngSubmit)="calcEmi()" class="form-group">

                <div class="row">
                    <div class="col-md-12">
                        <h5>Calculate your Emi</h5>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-5">
                        <label for="amount">Amount you want : </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="amount" formControlName="amount" class="form-control">
                    </div>
                    <div class="col-md-3"
                        *ngIf="submit && calcForm.controls.amount.errors && calcForm.controls.amount.errors"
                        class="text-danger">
                        Amount should be between 10 Thousand to 10 Crore..
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for ="type">Type of Loan (eg- home or education)</label>
                    </div>
                    <div class="col-md-7">
                        <select id="type" formControlName="type">
                            <option value="personal" selected>Personal</option>
                            <option value="car">Car</option>
                            <option value="home">Home</option>
                        </select><br>
                    </div>

                    <div class="col-lg-3" *ngIf="submit && calcForm.controls.type.errors" 
                        class="text-danger">
                        required..
                    </div>

                </div>
        
                <div class="row">
                    <div class="col-md-5">
                        <label for=emi>No of emi (month) : </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="emi" formControlName="noEmi" class="form-control">
                    </div>
                    <div class="col-md-3"
                        *ngIf="submit && calcForm.controls.noEmi.errors && calcForm.controls.noEmi.errors"
                        class="text-danger">
                        Month can be in between 1 to 240..
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-success">Pay Emi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>