<div class="container-fluid calc-back">
    <div class="row">

        <div class="col-md-7">
        </div>

        <div class="col-md-4">
            <form [formGroup]="calcForm" (ngSubmit)="calcEmi()" class="form-group">

                <div class="row">
                    <div class="col-md-12">
                        <h5 style="font-size: medium;font-weight: 800;">Calculate your Emi</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="amount">Amount you want </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="amount" formControlName="amount" class="form-control">
                        <div class="text-danger" *ngIf="submit && calcForm.controls.amount.errors">
                            Amount should be between 10 Thousand to 10 Crore..
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="type">Type of Loan </label>
                    </div>
                    <div class="col-md-7">
                        <select id="type" formControlName="type" class="form-control">
                            <option value="personal" selected>Personal</option>
                            <option value="car">Car</option>
                            <option value="home">Home</option>
                        </select>

                        <div *ngIf="submit && calcForm.controls.type.errors" class="text-danger">
                            Required..
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for=emi>No of months </label>
                    </div>
                    <div class="col-md-7">
                        <input type="number" id="month" formControlName="month" class="form-control">
                        <div *ngIf="submit && calcForm.controls.month.errors" class="text-danger">
                            Month can be in between 1 to 240..
                        </div>
                        <button type="submit" class="btn btn-success" style="margin-top: 20px;">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>