<div class="row">
    <div class="col-lg-6">
        <img src="../../../assets/images/loan.jpg" style="max-width: 100%;max-height: 100%;">
    </div>

    <div class="col-lg-6" style="margin-top: 20px;">
        <form [formGroup]="applyForm" (ngSubmit)="applyLoan()">

            <!--Adhar field-->

            <div class="col-lg-3">
                <label for="adhar">Adhaar Card No :</label>
            </div>
            <div class="col-lg-9">
                <input type="number" id="adhar" formControlName="adhar" class="form-control">
            </div>

            <div class="col-lg-offset-3 col-lg-9 text-danger" *ngIf="submitted && applyForm.controls.adhar.errors">
                Adhar must contain 16 digits.
            </div>

            <!--Name field-->

            <div class="col-lg-3">
                <label for="name">Name :</label>
            </div>

            <div class="col-lg-9">
                <input type="text" id="name" formControlName="name" class="form-control">
            </div>

            <div class="col-lg-offset-3 col-lg-9 text-danger" *ngIf="submitted && applyForm.controls.name.errors">
                Not a valid name...
            </div>

            <!--gender field-->

            <div class="col-lg-3">
                <label for="gender">Gender :</label>
            </div>
            <div class="col-lg-9">
                <input type="radio" id="gender" value="male" formControlName="gender">Male&nbsp;
                <input type="radio" id="gender" value="female" formControlName="gender">Female
            </div>
            <div class="col-lg-offset-3 col-lg-9 text-danger" *ngIf="submitted && applyForm.controls.gender.errors">
                Gender is required...
            </div>

            <!-- father name field-->

            <div class="col-lg-3">
                <label for="fname">Father's Name :</label>
            </div>
            <div class="col-lg-4">
                <input type="text" id="fname" formControlName="fname" class="form-control">
            </div>

            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.fname.errors">
                Not a valid name..
            </div>

            <!-- Salary field-->
            <div class="col-lg-3">
                <label for="salary">Salary: </label>
            </div>
            <div class="col-lg-9">
                <input type="number" id="salary" formControlName="salary" class="form-control">
            </div>

            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.salary.errors">
                Minimum salary is 5000..
            </div>

            <!--Contact field-->

            <div class="col-lg-3">
                <label for="contact">Contact No :</label>
            </div>
            <div class="col-lg-9">
                <input type="number" id="contact" formControlName="contact" class="form-control">
            </div>

            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.contact.errors">
                Contact no must be of 10 digit..
            </div>

            <!-- Email field-->

            <div class="col-lg-3">
                <label for="email">Email Id :</label>
            </div>
            <div class="col-lg-9">
                <input type="email" id="email" formControlName="email" class="form-control">
            </div>
            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.email.errors">
                Email id is not valid..
            </div>

            <!--Loan field-->

            <div class="col-lg-3">
                <label for="ltype">Loan type : </label>
            </div>
            <div class="col-lg-9">
                <select id="ltype" formControlName="loantype" class="form-control">
                    <option value="personal" selected>Personal</option>
                    <option value="car">Car</option>
                    <option value="home">Home</option>
                </select>
            </div>
            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.loantype.errors">
                Type of loan is required..
            </div>

            <!--Amount field-->

            <div class="col-lg-3">
                <label for="amount">Loan Amount :</label>
            </div>
            <div class="col-lg-9">
                <input type="number" id="amount" formControlName="amount" class="form-control">
            </div>
            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.amount.errors">
                Amount should be between 10 Thousand to 10 Crore..
            </div>

            <!--Month field-->

            <div class="col-lg-3">
                <label for="month">Month to Pay :</label>
            </div>
            <div class="col-lg-9">
                <input type="number" id="month" formControlName="month" class="form-control">
            </div>
            <div class="col-lg-9 col-lg-offset-3 text-danger" *ngIf="submitted && applyForm.controls.month.errors">
                Month can be in between 1 to 240..
            </div>

            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Apply for Loan</button>
            </div>
        </form>
    </div>

</div>